{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section-black">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group text-white">
                <legend class = "border-bottom mb-4 text-white">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password </button>
            </div>
        </form>
    </div>
{% endblock content %}